{
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "extends": ["next", "airbnb-typescript", "prettier"],
  "plugins": ["react-hooks", "prettier"],
  "rules": {
    "consistent-return": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-unescaped-entities": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "react/style-prop-object": 0,

    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
